py/Flow_MQTT_EMQX.json
[
    {
        "id": "7c3d273e.21396",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d7107f8.602468",
        "type": "exec",
        "z": "7c3d273e.21396",
        "command": "python3 /home/pi/Desktop/temperatura_RSP.py",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 440,
        "y": 420,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c5f66007.59b1f8",
        "type": "mqtt in",
        "z": "7c3d273e.21396",
        "name": "",
        "topic": "/RSPled",
        "qos": "2",
        "datatype": "auto",
        "broker": "28a1de69.3c208a",
        "x": 80,
        "y": 60,
        "wires": [
            [
                "fbe03737.8fad3"
            ]
        ]
    },
    {
        "id": "fbe03737.8fad3",
        "type": "debug",
        "z": "7c3d273e.21396",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 60,
        "wires": []
    },
    {
        "id": "f2fffc8c.af128",
        "type": "inject",
        "z": "7c3d273e.21396",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "21bed16d.4c65de"
            ]
        ]
    },
    {
        "id": "21bed16d.4c65de",
        "type": "exec",
        "z": "7c3d273e.21396",
        "command": "python3 /home/pi/Desktop/gestioPlaca.py",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 280,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "530f0d07.1fefd4",
        "type": "mqtt in",
        "z": "7c3d273e.21396",
        "name": "",
        "topic": "/RSPTots",
        "qos": "2",
        "datatype": "auto",
        "broker": "28a1de69.3c208a",
        "x": 80,
        "y": 140,
        "wires": [
            [
                "33030489.8845ac"
            ]
        ]
    },
    {
        "id": "33030489.8845ac",
        "type": "debug",
        "z": "7c3d273e.21396",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 140,
        "wires": []
    },
    {
        "id": "349263b.b38e91c",
        "type": "mqtt in",
        "z": "7c3d273e.21396",
        "name": "",
        "topic": "/RSP0latitude",
        "qos": "2",
        "datatype": "auto",
        "broker": "28a1de69.3c208a",
        "x": 490,
        "y": 60,
        "wires": [
            [
                "e4e865b7.a85528"
            ]
        ]
    },
    {
        "id": "e4e865b7.a85528",
        "type": "debug",
        "z": "7c3d273e.21396",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 60,
        "wires": []
    },
    {
        "id": "4039a5.489e4e5c",
        "type": "mqtt in",
        "z": "7c3d273e.21396",
        "name": "",
        "topic": "/RSP0longitude",
        "qos": "2",
        "datatype": "auto",
        "broker": "28a1de69.3c208a",
        "x": 500,
        "y": 140,
        "wires": [
            [
                "3e45810b.ed16a6"
            ]
        ]
    },
    {
        "id": "3e45810b.ed16a6",
        "type": "debug",
        "z": "7c3d273e.21396",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "c0f429e4.e9a51",
        "type": "mqtt in",
        "z": "7c3d273e.21396",
        "name": "",
        "topic": "/RSP0temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "28a1de69.3c208a",
        "x": 910,
        "y": 340,
        "wires": [
            [
                "f135b123.1d61e8",
                "61691975.4b4f38"
            ]
        ]
    },
    {
        "id": "f135b123.1d61e8",
        "type": "debug",
        "z": "7c3d273e.21396",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 340,
        "wires": []
    },
    {
        "id": "2440e32f.35ca3c",
        "type": "mqtt in",
        "z": "7c3d273e.21396",
        "name": "",
        "topic": "/RSP0pressio",
        "qos": "2",
        "datatype": "auto",
        "broker": "28a1de69.3c208a",
        "x": 890,
        "y": 60,
        "wires": [
            [
                "e41ec04d.6a6f28",
                "a3427be9.69f84"
            ]
        ]
    },
    {
        "id": "e41ec04d.6a6f28",
        "type": "debug",
        "z": "7c3d273e.21396",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 60,
        "wires": []
    },
    {
        "id": "77e9c926.683bb",
        "type": "mqtt in",
        "z": "7c3d273e.21396",
        "name": "",
        "topic": "/RSP0altitude",
        "qos": "2",
        "datatype": "auto",
        "broker": "28a1de69.3c208a",
        "x": 890,
        "y": 200,
        "wires": [
            [
                "bc731362.db0ab",
                "791b7e31.6849e8"
            ]
        ]
    },
    {
        "id": "bc731362.db0ab",
        "type": "debug",
        "z": "7c3d273e.21396",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 200,
        "wires": []
    },
    {
        "id": "c4a43e14.a1d53",
        "type": "inject",
        "z": "7c3d273e.21396",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "d7107f8.602468"
            ]
        ]
    },
    {
        "id": "61691975.4b4f38",
        "type": "function",
        "z": "7c3d273e.21396",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1140,
        "y": 400,
        "wires": [
            [
                "33ddf98.a3c7806"
            ]
        ]
    },
    {
        "id": "33ddf98.a3c7806",
        "type": "influxdb out",
        "z": "7c3d273e.21396",
        "influxdb": "f96677c9.de5068",
        "name": "Insert temperatura",
        "measurement": "Temperatura",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1390,
        "y": 400,
        "wires": []
    },
    {
        "id": "791b7e31.6849e8",
        "type": "function",
        "z": "7c3d273e.21396",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1080,
        "y": 260,
        "wires": [
            [
                "bc621453.8eab18"
            ]
        ]
    },
    {
        "id": "bc621453.8eab18",
        "type": "influxdb out",
        "z": "7c3d273e.21396",
        "influxdb": "f96677c9.de5068",
        "name": "Insert alçada",
        "measurement": "Alcada",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1290,
        "y": 260,
        "wires": []
    },
    {
        "id": "a3427be9.69f84",
        "type": "function",
        "z": "7c3d273e.21396",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1080,
        "y": 120,
        "wires": [
            [
                "e84db981.c4102"
            ]
        ]
    },
    {
        "id": "e84db981.c4102",
        "type": "influxdb out",
        "z": "7c3d273e.21396",
        "influxdb": "f96677c9.de5068",
        "name": "Insert pressió",
        "measurement": "Pressio",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1300,
        "y": 120,
        "wires": []
    },
    {
        "id": "28a1de69.3c208a",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f96677c9.de5068",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "estacio_meteo",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    }
]